
<div class="card">
    <div class="card-header bg-dark text-white">
        Sign in to Kwetter.
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est molestias odio eum nobis mollitia repellendus! Ab, ipsa? Aperiam, excepturi a! Accusantium optio tenetur blanditiis vel quos in quae iste voluptate?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla odit at, quia neque tempora dolores veritatis laudantium obcaecati laboriosam totam, fuga omnis facilis delectus consectetur, quidem ea? Sit, non tempore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ducimus fugiat incidunt magni porro nostrum labore dolorem, deleniti eos non accusantium veniam quam rerum aperiam delectus ipsa tenetur voluptate repudiandae.</p>        
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="username"><b>E-mail</b></label>
                            <input name="username" type="text" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username"><b>Password</b></label>
                            <input name="username" type="text" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm float-right">Sign in</button>
                            <button class="btn btn-dark btn-sm float-right mr-2">Forgot password</button>
                            <small class="">No account yet? click <a href="">here.</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-dark text-white">
        <small>Kwetter Inc</small>
        <small class="float-right">All rightes reserved.</small>
    </div>
</div>