<div class="row">
    <div class="col-6">
        <div class="p-3">
            <h4>Sign in.</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est molestias odio eum nobis mollitia repellendus! Ab, ipsa? Aperiam, excepturi a! Accusantium optio tenetur blanditiis vel quos in quae iste voluptate?</p>
            
            <h4>Tweet, kweet, kwetter.</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla odit at, quia neque tempora dolores veritatis laudantium obcaecati laboriosam totam, fuga omnis facilis delectus consectetur, quidem ea? Sit, non tempore.</p>           
        </div>
    </div>

    <div class="col-6">
        <div class="card mr-3">
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="username" id="username" name="username" type="text" value="" class="form-control form-control-sm">
                    <small class="text-danger">{{ errorMsg }}</small>
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input [(ngModel)]="password" name="password" type="password" value="" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <button (click)="login()" [disabled]="loginAttempted || !username || !password" class="btn btn-success btn-sm float-right">Sign in</button>
                    <small class="">No account yet? click <a routerLink="/register">here.</a></small>
                </div>
            </div>
        </div>
    </div>
</div>