
<div *ngIf="!profile">   
    <p>Loading profile....</p>
</div>

<div>
    <p class="text-danger">Profile not found!</p>
</div>

<div *ngIf="profile" class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-12">
                <img width="250" height="250" class="rounded shadow shadow-lg border border-secondary" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
            </div>
            <div class="col-12 mt-1">
                <h4 class="mb-0">{{ profile.displayName }}</h4>
                <a href="">@{{ profile.username }}</a>
                <hr>
                <p>{{ profile.description }}</p>             
                <hr>
                <i *ngIf="profile.websiteUrl" class="fa fa-link text-gray"></i><a href=""> {{ profile.websiteUrl }}</a><br>
                <i *ngIf="profile.location" class="fa fa-compass"></i> <small> {{ profile.location }}</small> <br>
                <i class="fa fa-history text-gray"></i> <small> Joined Feb 2021.</small>
            </div>
        </div>
    </div>
    <div class="col-9">
        
        <div class="row mb-2">
            <div class="col-12">
                <div class="float-left">
                    <h5 class="text-dark">Profile of <a href="#">@{{ profile.username }}</a></h5>
                    <small>Last activity at:  10/10/2021</small>
                </div>


                <div *ngIf="!myProfile" class="float-right">
                    <div class="form-group mb-1">
                        <button (click)="follow(profile)" [disabled]="followClicked" class="btn btn-block btn-success btn-sm">Follow {{ profile.username }}</button>
                    </div>

                    <div class="form-group">
                        <button (click)="block(profile)" [disabled]="blockClicked" class="btn btn-block btn-danger btn-sm">Block {{ profile.username }}</button>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="" (click)="showTweets()" [ngClass]="{'active': tweetsTab}" >Tweets ({{ profile.tweets.length }})</a>
            </li>
            <li class="nav-item">
              <a class="text-dark nav-link" [routerLink]="" (click)="showFollowing()" [ngClass]="{'active': followingTab}">Following ({{ profile.following.length }})</a>
            </li>
            <li class="nav-item">
              <a class="text-dark nav-link" [routerLink]="" (click)="showFollowers()" [ngClass]="{'active': followerTab}">Followers ({{ profile.followers.length }})</a>
            </li>
          </ul>

          <div *ngIf="tweetsTab" class="row">
              <div class="col-12">
                  <div class="card border-top-0">
                      <div class="card-body">

                        <div *ngFor="let tweet of profile.tweets">
                            <div class="row">
                                <div class="col-12">
                                    <small><a href="">{{ tweet.displayName }}. (@{{ tweet.username }})</a></small> <small class="float-right"><a class="text-secondary" href="#"><i>Report</i></a></small> <br> 
                                    <p class="mb-4">{{ tweet.content }}</p>  
                                    <div class="float-left">
                                        <small><i>{{ tweet.createdAt | date:'short' }}</i></small>
                                      </div>
                                      <div class="float-right">
                                        <!-- <small class="mr-3"><a class="text-secondary" href="">Retweet</a></small> -->
                                        <!-- <small class="mr-3"><a class="text-secondary" href="">Reply</a></small> -->
                    
                                        <small class="mr-3"><a class="" href=""><i class="fa fa-comment text-gray"></i> 0</a></small>
                                        <small><a (click)="likeTweet(tweet)" class="text-danger"><i class="fa fa-heart text-gray"></i> {{ tweet.liked }}</a></small>
                                      </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div *ngIf="followingTab" class="row">
            <div class="col-12">
                <div class="card border-top-0">
                    <div class="card-body">

                      <div *ngFor="let profile of profile.following">
                        <div class="row">
                            <div class="col-2">
                                  <a routerLink="/profile/{{ profile.username }}"><img src="https://www.w3schools.com/howto/img_avatar.png" width="100" height="100" alt=""></a>
                            </div>
                            <div class="col-10">
                                <a href="" class="float-right btn btn-dark btn-sm">Unfollow</a>
                                <a routerLink="/profile/{{ profile.username }}">{{ profile.displayName }} (@{{ profile.username }})</a><br>
                                <small>
                                    Based in {{ profile.location }} <br>
                                </small>
                            </div>
                        </div>
                          <hr>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="followerTab" class="row">
            <div class="col-12">
                <div class="card border-top-0">
                    <div class="card-body">

                      <div *ngFor="let tweet of profile.tweets">
                          <div class="row">
                          </div>
                          <hr>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>