<div class="row">
    <div class="col-3">
      <app-menu></app-menu>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <h5 class="text-dark">Settings</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non adipisci ipsum quod rem cumque, consectetur eius neque sapiente excepturi blanditiis. Hic, aspernatur modi laborum itaque voluptates harum quam consequuntur.</p>
          </div>
          <hr>
        </div>
      </div>

      <div class="row mb-3">
          <div class="col-12">
              <div class="card">
                  <div class="card-header bg-white">About you</div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-5">
                            <div class="form-group">
                                <label class="mb-0" for="username"><b>Display name</b></label><br>
                                <small>Will be displayed next to your Kwetter username.</small>
                                <input name="username" type="text" value="" class="form-control form-control-sm">
                            </div>

                            <div class="form-group">
                                <label class="mb-0" for="username"><b>Website URL</b></label><br>
                                <small>Provide your website URL, if you like.</small>
                                <input name="username" type="text" value="" class="form-control form-control-sm">
                            </div>

                            <div class="form-group">
                                <label class="mb-0" for="username"><b>Location</b></label><br>
                                <small>Will show on your profile page.</small>
                                <input name="username" type="text" value="" class="form-control form-control-sm">
                            </div>
                          </div>

                          <div class="col-7">
                            <div class="form-group">
                                <label class="mb-0" for="username"><b>Profile description</b></label><br>
                                <small>Description about you and what you do, or whatever.</small>
                                <textarea style="height: 90%;" rows="9" name="username" type="text" value="" class="form-control form-control-sm"></textarea>
                            </div>
                          </div>

                          <div class="offset-9 col-3">
                            <button class="btn btn-dark btn-sm btn-block">Save changes</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <hr>

      <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-white">Change your avatar</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                          <div class="form-group">
                              <label class="mb-0" for="username"><b>Select file</b></label><br>
                              <small>We only allow images of type jpg, exe, png and svg :)</small>
                              <input name="avatar_url" type="file" value="">
                          </div>

                          <div class="form-group">
                            <button class="btn btn-dark btn-sm float-right">Upload avatar</button>
                          </div>

                        </div>

                        <div class="col-7">
                            <h6>Please help.</h6>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores officiis neque odio hic qui voluptate esse dolore debitis repellat dolorem, placeat tenetur ex consequuntur quo eos quam sapiente totam fugiat!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  </div>