<div class="row">
    <div class="col-3">
      <app-menu></app-menu>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <h5 class="text-dark">Mentions</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non adipisci ipsum quod rem cumque, consectetur eius neque sapiente excepturi blanditiis. Hic, aspernatur modi laborum itaque voluptates harum quam consequuntur.</p>
          </div>
          <hr>
        </div>
      </div>

      <div class="row mb-3">
          <div class="col-12">

            <div *ngFor="let tweet of mentions" class="card mt-2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-1">
                      <img class="mt-2 shadow-lg" src="https://www.volkskrant.nl/kijkverder/v/2020/de-ondergang-van-trump-in-600-tweets~v409135/media/197f2e35f4f0ff3f2537b29d9818c783.jpg" height="50" width="50">
                    </div>
                    <div class="col-11">
                      <div>
                        <small><a href="">{{ tweet.displayName }} (@{{ tweet.username }})</a></small> <small class="float-right"><a class="text-secondary" href="#"><i>Report</i></a></small> <br> 
                        <p class="mb-1">{{ tweet.content }}</p>  
                      </div>
                      <div class="float-left">
                        <small><i>{{ tweet.createdAt | date:'short' }}</i></small>
                      </div>
                      <div class="float-right">
                        <small class="mr-3"><a class="text-secondary" href="">Retweet</a></small>
                        <small class="mr-3"><a class="text-secondary" href="">Reply</a></small>
    
                        <small class="mr-3"><a class="" href=""><i class="fa fa-comment text-gray"></i> 0</a></small>
                        <small><a class="text-danger" href=""><i class="fa fa-heart text-gray"></i> {{ tweet.liked }}</a></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 

          </div>
      </div>
    </div>

  </div>