<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kwetter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Kwetter</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-dark text-white">
            <small>Authentication.</small>
          </div>
          <div class="card-body">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="card-footer bg-dark text-white">
            <small>Kwetter Inc</small>
            <small class="float-right">All rightes reserved.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
