<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kwetter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
</head>

<body class="mb-5">
  <div class="container mt-3">

    <div class="row">
      <div class="col-12">
        <h1>
          <span class="text-primary">K</span> W E T T E R<span class="text-primary">.</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow list-group-item">
          <div class="collapse navbar-collapse ml-0">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/signin"><i class="fa fa-link text-gray"> </i> Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/register"><i class="fa fa-user text-gray"></i> Create account</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>



  </div>

</body>

</html>
