<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kwetter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
</head>

<body>

  <hr class="mt-5">

  <div class="container">

    <div class="row mt-3">
      <div class="col-7">
        <p class="header-kw mt-0">Kwetter.IO</p>
      </div>
      <div class="col-5 font links">
        <a routerLink="/register" class="float-right">Register.</a>
        <a routerLink="/signin" class="float-right">Sign in.</a>
        <a routerLink="/" class="float-right">Back.</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-dark text-white font font-upper">
            <small>Authentication.</small>
          </div>
          <div class="card-body">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="card-footer bg-dark text-white font font-upper">
            <small>Kwetter</small>
            <small class="float-right">All rightes reserved.</small>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
