<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kwetter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container mt-3">

    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow list-group-item">
          <div class="collapse navbar-collapse ml-0">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/timeline">My Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/notifications">Notifications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/settings">Settings</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="/logout"><b class="mr-2">Sign out</b></a></li>
            </ul>

            <div class="form-inline my-2">
              <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Search kwetter">
              <button class="btn btn-primary btn-sm " type="submit"><i class="fa fa-search"></i> Search</button>
            </div>

          </div>
        </nav>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
              <router-outlet></router-outlet>
          </div>
          <div class="card-footer bg-blue text-dark">
            <small>Kwetter Inc.</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
