<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kwetter</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="mb-5">
  <div class="container mt-3">

    <div class="row">
      <div class="col-12">
        <h1>
          <span class="text-primary">K</span> W E T T E R<span class="text-primary">.</span>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow list-group-item">
          <div class="collapse navbar-collapse ml-0">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/timeline"><i class="fa fa-link text-gray"> </i> My Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/profile/joegoslavie"><i class="fa fa-user text-gray"></i> Profile</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/activity"><i class="fa fa-inbox text-gray"> </i> Activity</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/settings"><i class="fa fa-cog text-gray"> </i> Settings</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/logout"><u>Sign out</u></a>
              </li>
            </ul>

            <div class="form-inline my-2">
              <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Search kwetter">
              <button class="btn btn-primary btn-sm " type="submit"><i class="fa fa-search"></i> Search</button>
            </div>

          </div>
        </nav>
      </div>
    </div>


    <div class="row mt-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
              <router-outlet></router-outlet>
          </div>
          <div class="card-footer bg-blue text-dark">
            <small class="text-primary"><b>Kwetter Inc.</b></small>
            <!-- <small class="float-right">Dorsey u jealous?!</small> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
