<div class="card mb-3">
    <div class="card-header">Operations</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item pt-1 pb-1">My Kwetter</li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Profile</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Following</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Followers</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Hashtags</a>
      </li>
    </ul>
  </div>

  <div class="card mt-4">
    <div class="card-header">Other things</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Real Twitter</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">News</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Trending</a>
      </li>
    </ul>
  </div>


  <div class="card mt-4">
    <div class="card-header">Did you know?</div>
    <div class="card-body">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, non modi, ducimus ipsum soluta quia impedit nostrum tempore eos officia consequuntur distinctio, earum magnam eveniet ut eum incidunt optio voluptas?</p>
    </div>
  </div>