<div class="card mb-3">
    <div class="card-header">Operations</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item pt-1 pb-1">My Kwetter</li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Profile</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Following</a>
      </li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Followers</a>
      </li>

      <li class="list-group-item pt-1 pb-1">Worldwide</li>
      <li class="list-group-item pt-1 pb-1">
        <a href="#">Hashtags</a>
      </li>
    </ul>
  </div>