<div class="row">
    <div class="col-6">
        <div class="p-3">
            <h4>Sign up, its free.</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est molestias odio eum nobis mollitia repellendus! Ab, ipsa? Aperiam, excepturi a! Accusantium optio tenetur blanditiis vel quos in quae iste voluptate?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla odit at, quia neque tempora dolores veritatis laudantium obcaecati laboriosam totam, fuga omnis facilis delectus consectetur, quidem ea? Sit, non tempore.</p>         
        </div>
    </div>

    <div class="col-6">
        <div class="card mr-3">
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" value="" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="username">E-mail address</label>
                    <input name="username" type="text" value="" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="username">Password</label>
                            <input name="username" type="text" value="" class="form-control form-control-sm">
                        </div>
                        <div class="col-6">
                            <label for="username">Repeat password</label>
                            <input name="username" type="text" value="" class="form-control form-control-sm">
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-sm float-right">Sign up</button>
                    <small class="">Already have an account? click <a routerLink="/signin">here.</a></small>
                </div>
            </div>
        </div>
    </div>
</div>